{% extends "base.html" %}

{% block head %}{% endblock %}

    {% block title %}{% endblock %}

    {% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Sebastian's Wiki</h1>
        <p class="lead">Here you can find information about all your colleagues from the Sebastian Co.</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            
          

          {% for user in data %}

          <div class="card" style="width: 40rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{user.firstname + ' ' + user.lastname}}</h5>
              <p class="card-text">Role: {{user.role}}</p>
              <p class="card-text">Birthday: {{user.birthday}}</p>
              <p class="card-text">About: {{user.about}}</p>
              <a href="#" class="btn btn-primary">Remove Teammember</a>
            </div>
          </div>

          {% endfor %}
        </div>
          <div class="col-md-4">
            Signup new members goes here





          </div>
        </div>

        <script src="{{url_for('static', filename='addUsers.js')}}"></script>
    {% endblock %}

