{% extends "base.html" %}

{% block head %}{% endblock %}

    {% block title %}{% endblock %}

    {% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Sebastian's Wiki</h1>
        <p class="lead">Here you can find information about all your colleagues from the Sebastian Co.</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            Info on Teammembers goes here


            <div id='show_profiles'>


          </div>
          <div class="col">
            Signup new members goes here










          </div>
        </div>
    {% endblock %}

