{% extends "base.html" %}

{% block head %}{% endblock %}

    {% block title %}{% endblock %}

    {% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Sebastian's Wiki</h1>
        <p class="lead">Here you can find information about all your colleagues from the Sebastian Co.</p>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
          <br>
          <br>
          

           <div class="card" style="width: 40rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Current Teammembers</h5>
            </div></div>

          {% for user in data %}

          <div class="card" style="width: 40rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{user.firstname + ' ' + user.lastname}}</h5>
              <p class="card-text">Role: {{user.role}}</p>
              <p class="card-text">Birthday: {{user.birthday}}</p>
              <p class="card-text">About: {{user.about}}</p>
              <a href="#" class="btn btn-primary">Remove Teammember</a>
            </div>
          </div>

          {% endfor %}
        </div>
          <div class="col-md-4">



            <div class="card" style="width: 30rem;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Not on here? Make a Profile!</h5>
                <p class="card-text">

                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">First Name:</label>
                    <input type="firstname" class="form-control" id="inputfirstname" placeholder="John">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Last Name:</label>
                    <input type="lastname" class="form-control" id="inputlastname" placeholder="Doe">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Birthday:</label>
                    <input type="birthday" class="form-control" id="inputbirthday" placeholder="19-2-1995">
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Company Role:</label>
                    <input type="role" class="form-control" id="inputrole" placeholder="Facility Manager">
                  </div>
                  <label for="title">Tell us about yourself! </label>
                  <br/>
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="I like Trains" id="inputabout" style="height: 100px"></textarea>
                    <label for="floatingTextarea2"></label>
                  </div>
                </p>



                <!-- <p class="card-text"></p>
                <p class="card-text"></p> -->
                <a href="#" class="btn btn-primary">Add yourself!</a>
              </div>
            </div>







          </div>
        </div>

        <script src="{{url_for('static', filename='addUsers.js')}}"></script>
    {% endblock %}

